* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-anchor: none;
}

.nav-bar {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    z-index: 10;
}

.box-1 {
    width:100%;
    height: 5vh;
    background-color: #065E81;
    padding: 0;
    margin: 0;
}

.box-2 {
    width: 100%;
    height: 10vh;
    background-color: #E6E6E6;
}

.box-3 {
    width: 100%;
    height: 5vh;
    background-color: #404040;
}

.box-4 {
    width: 10%;
    height: 5vh;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-5 {
    width: 100%;
    height: 50vh;
    background-color: #E6E6E6;
}

.box-6 {
    width: 100%;
    height: 28vh;
    background-color: #E6E6E6;
}

.box-7 {
    width: 60%;
    height: 7vh;
    background-color: #E6E6E6;
}

.box-8 {
    width: 100%;
    height: 40vh;
    background-color: #E6E6E6;
}

.box-9 {
    width: 100%;
    height: 24vh;
    background-color: #065E81;
}

.box-10 {
    width: 100%;
    height: 12vh;
}

.box-11 {
    width: 100%;
    height: 12vh;
    background-color: #E6E6E6;
}

.box-12 {
    width: 60%;
    height: 12vh;
    background-color: #00212a;
    display: flex;
}

.box-13 {
    width: 25%;
    height: 12vh;
}

.box-14 {
    width: 100%;
    height: 8vh;
    background-color: #2F2F2F;
}

.box-15 {
    width: 60%;
    height: 8vh;
    display: flex;
}

.box-16 {
    width: 50%;
    height: 8vh;
    background-color: #2F2F2F;
    display: flex;
}

.box-17 {
    width: 50%;
    height: 8vh;
    background-color: #2F2F2F;
    justify-content: end;
    display: flex;
}

.box-18 {
    width: 100%;
    height: 30vh;
    background-color: #4F4C4C;
}

.box-19 {
    width: 60%;
    height: 30vh;
    display: flex;
}

.box-20 {
    width: 32%;
    height: 30vh;
}

.box-21 {
    width: 32%;
    height: 30vh;
}

.box-22 {
    width: 36%;
    height: 30vh;
}

.box-23 {
    width: 100%;
    height: 5vh;
    background-color: #3B3B3B;
}

.box-24 {
    width: 30%;
    margin-left: 20%;
    height: 5vh;
    background-color: #3B3B3B;
}

.box-25 {
    width: 60%;
    height: 12vh;
    display: flex;
}

.box-26 {
    width: 20%;
    height: 12vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.box-27 {
    width: 100%;
    height: 5vh;
    justify-content: center;
    display: flex;
}

.box-28 {
    width: 50%;
    height: 5vh;
    justify-content: center;
    display: flex;
}

.box-29 {
    width: 100%;
    height: 30vh;
    justify-content: center;
    display: flex;
}

.box-30 {
    width: 64%;
    height: 30vh;
    justify-content: center;
    display: flex;
}

.box-31 {
    width: 50%;
    height: 30vh;
    justify-content: center;
}

.box-32 {
    width: 100%;
    height: 5vh;
    align-items: center;
    display: flex;
    border: 1px solid white;
}

.box-33 {
    width: 50%;
    height: 30vh;
    justify-content: center;
}

.box-34 {
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid white;
}

.etkinlik-box {
    width: 100%;
    height: 5vh;
    display: flex;
}

.etkinlik-box2 {
    width: 15%;
    height: 5vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid black;
    display: flex;
}

.etkinlik-box3 {
    width: 25%;
    height: 5vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid black;
    display: flex;
}

.text-dekor {
    text-decoration: none;
}

.duyuru-box {
    width: 20%;
    height: 7vh;
    float: right;
}

.logo-box {
    width: 100%;
    height: 6vh;
}

.font-box {
    width: 100%;
    height: 6vh;
}

.font-box2 {
    width: 100%;
    height: 6vh;
}

.sayı-box {
    width: 100%;
    height: 6vh;
}

.background-image-1 {
    background-image:url(https://aku.edu.tr/wp-content/themes/akuyenitema/img/st1.png); 
    background-repeat:no-repeat; 
    background-color: rgb(255, 255, 255);
    background-position:center; 
    top:0
}

.background-image-2 {
    background-image:url(https://aku.edu.tr/wp-content/themes/akuyenitema/img/program.png);
    background-repeat:no-repeat; 
    background-color: rgb(255, 255, 255);
    background-position:center; 
    top:0
}

.background-image-3 {
    background-image:url(https://aku.edu.tr/wp-content/themes/akuyenitema/img/academic.png);
    background-repeat:no-repeat; 
    background-color: rgb(255, 255, 255);
    background-position:center; 
    top:0
}

.background-image-4 {
    background-image:url(https://aku.edu.tr/wp-content/themes/akuyenitema/img/idari1.png); 
    background-repeat:no-repeat; 
    background-color: rgb(255, 255, 255);
    background-position:center; 
    top:0
}

.icon-size {
    justify-content: center;
    display: flex;
    align-items: center;
    float: left;
    width: 3%;
    height: 5vh;
    color: white;
}


.icon-size2 {
    width: 7%;
    color: white;
    height: 5vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    float: left;
    display: flex;
    text-decoration: none;
}

.icon-size3 {
    width: 2%;
    color: white;
    height: 5vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    float: left;
    display: flex;
    text-decoration: none;
}

.icon-size4 {
    justify-content: center;
    display: flex;
    align-items: center;
    float: left;
    width: 2%;
    height: 5vh;
    color: white;
}

.icon-size5 {
    justify-content: center;
    display: flex;
    align-items: center;
    float: right;
    width: 2%;
    height: 5vh;
    color: white;  
}

.icon-size6 {
    width: 100%;
    height: 6vh;
}

.icon-size7 {
    width: 100%;
    height: 6vh;
    text-align: center;
}

.icon-size8 {
    font-size: 25px;
    width: 100%;
    height: 6vh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: end;
}

.icon-size9 {
    font-size: 20px;
    color: #005e78;
    width: 100%;
    height: 6vh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: baseline;
}

.icon-size10 {
    font-size: 20px;
    width: 100%;
    height: 8vh;
    text-align: center;
    align-items: center;
    justify-content: baseline;
    color: #747474;
    display: flex;
}

.icon-size11 {
    width: 5%;
    height: 8vh;
    text-align: center;
    align-items: center;
    justify-content: baseline;
    display: flex;
}

.icon-size12 {
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: baseline;
    text-decoration: none;
}

.search-size {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.font-ayarlama {
    font-size: 40px;
    font-style: italic;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    height: 10vh;
    color: black;
}

.font-1 {
    font-size: 20px;
    color: white;
    font-style: initial;
    justify-content: center;
}

.font-2 {
    font-size: 12px;
    color: black;
    font-style: initial;
    justify-content: center;
    text-decoration: none;
}

.font-3 {
    font-size: 15px;
    color: rgb(19, 97, 0);
    font-style: initial;
    justify-content: right;
    align-items: center;
    text-align: center;
    display: flex;
}

.font-4 {
    font-size: 15px;
    height: 5vh;
    color: rgb(255, 255, 255);
    font-style: initial;
    align-items: center;
    text-align: center;
    display: flex;
}

.font-5 {
    height: 5vh;
    width: 20%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 15px;
    color: rgb(0, 0, 255);
}

.font-6 {
    height: 5vh;
    width: 80%;
    align-items: center;
    display: flex;
    font-size: 15px;
    text-decoration: none;
}

.font-7 {
    font-size: 15px;
    color: rgb(19, 97, 0);
    font-style: initial;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.logo-size {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    width: 105px;
    height: 105px;
    float: left;
    display: flex;
    margin: 0;
    padding: 0;
}

.logo-size2 {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    width: 105px;
    height: 105px;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}

ul {
    margin:0;
    padding: 0;
    list-style: none;
}

.liste-ayar {
    float: left;
    position: relative;
    width: 9%;
}

.liste-ayar2 {
    display: none;
    border: 4px solid rgb(219, 127, 8);
    font-size: 15px;
    width: 200%;
}

ul li a {
    display: block;
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    background-color: #404040;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

ul li a:hover {
    background-color: rgb(219, 127, 8);
}

ul li:hover ul {
    display: block;
}

.ortalama {
    align-items: center;
    display: flex;
}

.ortalama-1 {
    justify-content: center;
    display: flex;
}

.ortalama-2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.resim-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bosluk {
    width: 100%;
    height: 20vh;
    display: flex;
}

.bosluk-2 {
    width: 100%;
    height: 1vh;
    background-color: white;
    display: flex;
}


.slayt-resim {
    width: 60%;
    height: 50vh;
    border: 1vh solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    background-position: center;
}

.col-1 {
    width: 30%;
    height: 21vh;
}

.col-2 {
    width: 40%;
    height: 12vh;
    display: flex;
}


.row-1 {
    width: 100%;
    height: 7vh;
    border: 3px solid white;
}

.row-2 {
    width: 20%;
    height: 12vh;
    text-decoration: none;
    background-color: lab(27.02% -8.11 -21.26);
}

.col-2 .row-2:hover {
    background-color: #005e78;
}

.box-20 .icon-size12:hover {
    background-color:#404040;
}

.box-21 .icon-size12:hover {
    background-color:#404040;
}

.img-box1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10%;
    height: 6vh;
    background-color: #404040;
    border: 1px solid white;
}

.img-box2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
}

.img-box3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10vh;
    border: 5px solid white;
}

.çizgi {
    width: 90%;
    border: 0.001px solid #ccc;
    text-align: center;
    justify-content: center;
    display: flex;
}

.baslik-1 {
    color: white;
    justify-content: baseline;
    display: flex;
}

.container {
    padding: 2rem;
}

.slider-wrapper {
    width: 65%;
    margin: 0 auto;
    position: relative;
}


.slider {
    height: 50vh;
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    scroll-padding-left: 0;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.5;
    transition: opacity ease 250ms;
    cursor: pointer;
}

.slider-nav a:hover {
    opacity: 1;
}




